.mainProfile {
    
    height: 300px;
    width: 50%;
    margin: 45px;
    margin-left: 650px;
}

.row1 {
    display: flex;
    justify-content: space-between;


}

.row2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}


.row3 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.team {
    font-weight: bold;
    font-size: 19px;
    font-family: Roboto;
}