.input-group {
    justify-content: center;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
    .header-input {
        flex-direction: column;

    }

    #home-input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input-form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}