.skills-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.skill-section {
    width: 60%;

}

.filter-section {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #c5c5c57c;
    border-bottom: 3px solid #c5c5c57c;
}

.jobType-section {
    display: flex;

    width: 50%;
}

@media only screen and (min-width: 200px) and (max-width: 524px) {
    .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 525px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {}

@media only screen and (min-width: 1281px) and (max-width: 1680px) {}